<div class="login-page">

  <div class="login-card">

    <!-- Logo -->
    <div class="text-center mb-4">
      <div class="logo">
        <i class="bi bi-wallet2"></i>
      </div>

      <h2 class="fw-bold mt-3 mb-1">Expense Portal</h2>
      <p class="text-muted">
        Connectez-vous à votre espace collaborateur
      </p>
    </div>

    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

      <!-- Email -->
      <div class="mb-3">

        <label class="form-label fw-semibold">
          Adresse Email
        </label>

        <div class="input-group">

          <span class="input-group-text">
            <i class="bi bi-envelope"></i>
          </span>

          <input
            type="email"
            class="form-control"

            name="email"

            [(ngModel)]="credentials.email"

            #emailRef="ngModel"

            required

            email

            placeholder="nom@entreprise.com">

        </div>

        <small
          class="text-danger"

          *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">

          Adresse email valide obligatoire.

        </small>

      </div>

      <!-- Password -->

      <div class="mb-4">

        <label class="form-label fw-semibold">
          Mot de passe
        </label>

        <div class="input-group">

          <span class="input-group-text">

            <i class="bi bi-lock-fill"></i>

          </span>

          <input

            type="password"

            class="form-control"

            name="password"

            [(ngModel)]="credentials.password"

            #passRef="ngModel"

            required

            placeholder="********">

        </div>

        <small

          class="text-danger"

          *ngIf="passRef.invalid && (passRef.dirty || passRef.touched)">

          Le mot de passe est obligatoire.

        </small>

      </div>

      <button

        class="btn btn-success login-btn"

        type="submit"

        [disabled]="loginForm.invalid">

        <i class="bi bi-box-arrow-in-right me-2"></i>

        Se connecter

      </button>

      <hr>

      <div class="text-center">

        <span class="text-muted">

          Vous n'avez pas de compte ?

        </span>

        <a routerLink="/signup" class="register-link">

          Créer un compte

        </a>

      </div>

    </form>

  </div>

</div>